* {
    overflow: hidden;
}

.payment-main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.payment-main-container p {
    font-size: 1.5rem;
}

.payment-container {
    height: 40vh;
}

#payment-element {
    height: 65%;
}