.comment-container {
    background-color: #57637d !important;
    max-width: 50%;
    min-width: 50%;
    min-height: 20vh;
    margin: .5rem 0 3rem 0;
}

.comment-top-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 44rem;
}

.user-rate-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-message {
    width: 96%;
    text-align: left;
    margin-top: 1rem;
}