* {
    overflow: hidden;
}

.content-container {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    overflow: hidden;
}

.content {
    height: 20vh;
    background-color: #33415C;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: .1rem solid #4FB8FF;
    border-radius: .2rem;
    width: 10%;
    margin: 1.9rem 0 1rem 0;
}

.search-bar input {
    margin: 0;
    width: 90%;
    height: 1.35rem;
    border: none;
    background: transparent;
    color: white;
}

.search-bar input:focus {
    border: none;
    outline: none;
}