.user-info-container {
    width: 50vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info-container > p {
    margin-left: 1rem;
    margin-top: .35rem;
    font-size: 1.3rem;
}