.register-form-container {
    padding: .2rem;
    height: 60vh;
    width: 20vw;
    margin: 8rem auto;
    background-color: #33415C !important;
}

.register-form-container h2 {
    font-size: 2rem;
    color: white;
    font-weight: 550;
}

.login-link {
    text-decoration: none;
    color: #4FB8FF;
}

@media only screen and (max-width: 900px) {
    .register-form-container {
        padding: .2rem;
        width: 50vw;
        height: 50vh;
        margin: 14rem auto;
        background-color: #33415C !important; 
    }

    .register-form-container h2 {
        font-size: 1.5rem;
    }

    .login-link {
        font-size: .75rem;
    }
}